MetLifeProducts/MetLifeProducts/Products/src/main/webapp/WEB-INF/wsdl/ProductDetailsService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://product.insurance.ibm.com" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://product.insurance.ibm.com" targetNamespace="http://product.insurance.ibm.com">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://product.insurance.ibm.com"><xs:element name="ProductRequest"><xs:complexType><xs:sequence><xs:element name="product_id" type="xs:int"/></xs:sequence></xs:complexType></xs:element><xs:element name="ProductResponse"><xs:complexType><xs:sequence><xs:element name="Prod" type="tns:Prod"/></xs:sequence></xs:complexType></xs:element><xs:complexType name="Prod"><xs:sequence><xs:element name="product_id" type="xs:int"/><xs:element name="product-name" type="xs:string"/><xs:element name="product_description" type="xs:string"/><xs:element name="premium" type="xs:int"/><xs:element name="status" type="xs:string"/></xs:sequence></xs:complexType></xs:schema>
  </wsdl:types>
  <wsdl:message name="ProductResponse">
    <wsdl:part element="tns:ProductResponse" name="ProductResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ProductRequest">
    <wsdl:part element="tns:ProductRequest" name="ProductRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ProductDetailsService">
    <wsdl:operation name="Product">
      <wsdl:input message="tns:ProductRequest" name="ProductRequest">
    </wsdl:input>
      <wsdl:output message="tns:ProductResponse" name="ProductResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ProductDetailsServiceSoap11" type="tns:ProductDetailsService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="Product">
      <soap:operation soapAction=""/>
      <wsdl:input name="ProductRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="ProductResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProductDetailsServices">
    <wsdl:port binding="tns:ProductDetailsServiceSoap11" name="ProductDetailsServiceSoap11">
      <soap:address location="http://localhost:8080/products/endpoints"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>